# Environment variables
.env 
.env.*

# Virtual environment
.venv/
virtualenv/
env/

#data 
data/*
# Python cache
__pycache__/
*.pyc

# Build artifacts
dist/
build/
*.egg-info/
/lgbm_model.pkl
/tfidf_vectorizer.pkl
/experiment_info.json

# MLflow artifacts and logs
*.png
model_evaluation_errors.log
dvc.lock
nul
